@font-face {
  font-family: 'Cursed Timer ULiL';
  src: url('/fonts/CursedTimerUlil-Aznm.ttf') format('truetype');
  font-weight: regular;
}
body {
    margin: 0;

}
.column {
/* board-title-home */
font-family: 'Verdana';
font-style: normal;
font-weight: bold;
text-align: center;
color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* empty-state */
    position: relative;
    height: 385px;
    background: #1B244A;
}
h3 {
font-family: Verdana;
font-weight: 700;
font-size: 40px;
line-height: 35.89px;
letter-spacing: 0%;
text-align: center;
width: 149;
height: 36;
top: 68px;
left: 85px;  
}

.score {
    background: #080001;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    margin: 20px;
    border-radius: 5px;
   /* home-points-text */
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
}

button {
background: none;
width: 30;
height: 25.766870498657227;
top: 280px;
left: 344px;
cursor: pointer;
font-family: Cursed Timer ULiL;
font-weight: 400;
font-size: 18px;
line-height: 27.81px;
letter-spacing: 0%;
text-align: center;
color: #9AABD8;
border: 2px solid #9AABD8;
}